<h2 mat-dialog-title>Save this workout</h2>
<mat-dialog-content>
  <div *ngIf="user == null">
    <p>Log in to save your progress. I'll store your workouts, keep them organized and provide insights. And it's completely free.</p>
    <button (click)="auth.googleLogin()" mat-flat-button>Log in</button>
    <p>If you want to manage your own data, you can download a JSON file of this workout <a href="#">here</a>.</p>
  </div>
  <form *ngIf="user != null" [formGroup]="metadataForm">
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title">
      <mat-error *ngIf="title.invalid && title.touched">
        Title does not look right
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
      <mat-error *ngIf="description.invalid && description.touched">
        Description does not look right
      </mat-error>
    </mat-form-field>
    <!-- Value: {{ metadataForm.value | json }} -->
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="metadataForm.invalid" mat-raised-button [mat-dialog-close]="metadataForm.value">Save</button>
  <button mat-button (click)="close()">Cancel</button>
</mat-dialog-actions>
